# Python/Django
__pycache__/
*.py[cod]
venv/
static/
media/
.env
dump.rdb
requirements.flag

# Node/ReactJS
.cache/
dist/
node_modules/
coverage
stats.json
npm-debug.log

# Misc.
.DS_Store
.idea
*.swp

\.vscode/settings\.json
