# Required python modules.

Django
boto3
celery[redis]
celery-redbeat
channels
channels_redis
django-celery-email
django-cors-headers
django-extensions
django-import-export
django-localflavor
django-object-actions
django-redis
django-rest-swagger
django-storages
django-widget-tweaks
djangorestframework
djangorestframework-jwt
dj-database-url
psycopg2-binary
python-decouple
python-dotenv
python-jose
raven
social-auth-app-django
wheel
whitenoise
yapf
