# Required python modules.

Django
celery[redis]
celery-redbeat
django-admin-autocomplete-filter
django-celery-email
django-cors-headers
django-extensions
django-import-export
django-localflavor
django-object-actions
django-redis
django-rest-swagger
django-storages
django-widget-tweaks
djangorestframework
djangorestframework-jwt
djangorestframework-api-key
dj-database-url
gunicorn
psycopg2-binary
python-decouple
python-dotenv
python-jose
raven
scrapy
unicodecsv
wheel
whitenoise
yapf
