{% extends "base.html" %}
{% load static %}

{% block title %}Ouch!{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="main">
      <div class="section" style="padding-top: 80px;">
        <div class="container col-sm-8 offset-sm-2" style="text-align:center">
          <h1 style="color:#374f75 !important;">This is embarrassing...</h1>
          <p>Our system returned an error. Would you mind trying again?</p>
          <p><a href="{% url 'home' %}">Home</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
