<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}DR.MVP{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    {% block load-first %}
      {% include "static_header_links.html" %}
      {% include "static_styles.html" %}
      {% include "static_javascripts.html" %}
    {% endblock load-first %}
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
  {% block load-last %}{% endblock load-last %}
</html>
