{% extends "base.html" %}
{% load static %}

{% block load-first %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
  {% include "header.html" %}
  <div class="top-controls">
    <div class="manufacturer-select-container">
      <select>
        <option value=''>Select a manufacturer</option>
        {% for m in manufacturers %}
          <option value ='{{m.id}}'>{{m.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="parttype-select-container">
      <select>
        {% for t in PartType.CHOICES %}
          <option value='{{ t.0 }}'>{{ t.1 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="date-select-container">
      <input type="text" class="datepicker" value="{{ yesterday }}">
    </div>
    <button class="filter-websites-button" type="button">Filter Websites</button>
  </div>
  <div class="table-container">
  </div>
  <div class="website-count-message small" style="padding-left: 10px;"></div>
  <footer></footer>
  <div id="filter-websites-modal" class="modal-screen" style="display: none;">
    <div id="filter-websites-modal" class="modal-frame">
      <button class="modal-close-button">×</button>
      <div class="modal-header">Select websites to exclude</div>
      <div class="modal-content">
        <div>
          {% for ws in websites %}
            <div class="filter-website-row{% for m in ws.manufacturers %} manufacturer-{{ m.id }}{% endfor %}"
                data-id="{{ ws.id }}">
              <span class="filter-website-checkbox">
                <input type="checkbox" {% if ws.excluded %}checked=checked{% endif %}>
              </span>
              <span class="filter-website-label {% if ws.excluded %}strikethrough{% endif %}">
                {{ws.domain_name}}
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block load-last %}
<script type="text/javascript" src="{% static 'home.js' %}"></script>
{% endblock load-last %}
