{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container push-top col-sm-8 offset-sm-2 text-center" style="padding-top: 80px;">
    <div><img src="{% static 'img/fav.jpg' %}"></img></div>
    <h2>Competitive Analysis</h2>
    <h1>Login</h1>
    <div class="push-top">
      <form method="POST" class="login-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          {{ form.email }}
          {{ form.email.errors }}
        </div>
        <div class="form-group">
          {{ form.password }}
          {{ form.password.errors }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-wide">Log in with email/password</button>
        </div>
        <div>
          To request an account, please speak to Liam!
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

