{% load static %}

<link rel="stylesheet" crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></script>
<style>
  ul.errorlist {
    list-style: none;
  }
  ul.errorlist li {
    color: red;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #666;
    color: white;
    border-bottom: solid 1px #555;
    font-size: 16px;
  }
  header a {
    color: white;
    text-decoration: none;
  }
  header a:hover {
    color: #bbb;
    text-decoration: underline;
  }
  header .welcome {
    color: #dd6;
  }
  section {
    margin: 6px;
  }
  select, option {
    font-size: 20px;
  }
  div.card {
    margin: 10px;
    padding: 20px;
    border: solid 1px #ddd;
  }
  .screen {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(169,169,169,0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  button.close {
    position: absolute;
    padding: 0 4px;
    background: white;
    color: black;
    border: none;
    font-Size: 16px;
    font-Family: Arial;
    height: 25px;
    top: 6px;
    right: 6px;
    border-Radius: 4px;
    border: solid 1px white;
  }
  input.link {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
  .error {
    color: #c00;
  }
  .upper {
    text-transform: uppercase;
  }
  .title {
    text-transform: capitalize;
  }
</style>
