{% load static %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
{% if GOOGLE_SIGNIN_CLIENT_ID %}
  <script type="text/javascript">

    function initGoogle(options) {

      gapi.load("auth2", function() {
        var auth2 = gapi.auth2.init({ client_id: "{{ GOOGLE_SIGNIN_CLIENT_ID }}" });
        renderGoogleElements(auth2);
        $("#user-logout a").on("click", function(e) {
          var authInstance = gapi.auth2.getAuthInstance();
          if (authInstance.isSignedIn.get()) {
            e.preventDefault();
            gapi.auth2.getAuthInstance().signOut().then(function() {
              window.location.href = "{% url 'accounts_logout' %}";
            });
          }
        });
      });

      function renderGoogleElements(auth2) {
        $(".google-only").show();
        if ($("#google-signin-button").length) {
          $("#google-signin-button").on("click", function() {
            gapi.buttonClicked = true;
          });
          auth2.attachClickHandler($("#google-signin-button")[0], {}, onSignIn);
        }
      }

      function onSignIn(googleUser) {
        if (gapi.busy) return;
        gapi.busy = true;

        var idToken = googleUser.getAuthResponse().id_token;
        var csrfToken = $("[name=csrfmiddlewaretoken]").val();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'google_signin' %}");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", csrfToken);
        xhr.onreadystatechange = function(event) {
          if (xhr.readyState == 4) {
            switch (xhr.status) {
            case 200:
              window.location.href = "/";
              break;
            case 403:
              if (gapi.buttonClicked) {
                $("#google-signin-error").text("Sorry, we don't recognize your Google account.");
              }
              gapi.auth2.getAuthInstance().signOut();
              break;
            }
            gapi.busy = false;
          }
        };
        xhr.send("idtoken=" + idToken);
      }
    }
  </script>
  <script type="text/javascript" src="https://apis.google.com/js/platform.js?onload=initGoogle" async defer></script>
{% endif %}
