{% extends "base.html" %}

{% block content %}
  <config name="jwt" value="{{token}}"></config>
  {% include "header.html" %}
  <div style="text-align: center; margin: 40px auto 0; width: 480px;">
    <div style="margin: 10px; padding: 20px; border: solid 1px #ddd;">
      <form name="parts" method="POST">
        <h3>Parts</h3>
        <div style="border: solid 1px #ddd; padding: 4px; display: flex; justify-content: space-between; width: 100%;">
          <div>PartNumber</div>
          <div>PartType</div>
          <div>CostPriceRange</div>
          <div>Manufacturer</div>
        </div>
        <div style="margin: 4px;"><input type="file" name="file" accept="text/csv"></input></div>
        <div><button type="submit">Upload Parts CSV</button></div>
      </form>
    </div>
    <div style="margin: 10px; padding: 20px; border: solid 1px #ddd;">
      <form name="prices" method="POST">
        <h3>Price Data</h3>
        <div style="border: solid 1px #ddd; padding: 4px; display: flex; justify-content: space-between; width: 100%;">
          <div>Date</div>
          <div>Website</div>
          <div>PartNumber</div>
          <div>PartPrice</div>
        </div>
        <div style="margin: 4px;"><input type="file" name="file" accept="text/csv"></input></div>
        <div><button type="submit">Upload Prices CSV</button></div>
      </form>
    </div>
    <div style="margin: 10px; padding: 20px; border: solid 1px #ddd;">
      <form name="costs" method="POST">
        <h3>Cost Data</h3>
        <div style="border: solid 1px #ddd; padding: 4px; display: flex; justify-content: space-between; width: 100%;">
          <div>Date</div>
          <div>PartNumber</div>
          <div>Cost</div>
        </div>
        <div style="margin: 4px;"><input type="file" name="file" accept="text/csv"></input></div>
        <div><button type="submit">Upload Costs CSV</button></div>
      </form>
    </div>
  </div>
  <footer></footer>
{% endblock content %}

{% block load-last %}
<script type="text/javascript">
(function() {

  function getJwtToken() {
    return $("config[name='jwt']").attr("value")
  }

  function whenPageLoaded(callback) {
    if (document.readyState != "loading") {
      callback();
    }
    else if (document.addEventListener) {
      document.addEventListener("DOMContentLoaded", callback);
    }
    else {
      document.attachEvent("onreadystatechange", function() {
        if (document.readyState == "complete") {
          callback();
        }
      })
    }
  }

  whenPageLoaded(function () {
    $("form").on("submit", function(event) {
      event.preventDefault()
      var $form = $(this)
      var file = $form.find("input")[0].files[0]
      if (!file) {
        alert("Select a CSV file to upload.")
        return;
      }
      var formData = new FormData();
      formData.append("file", file);
      xhr = new XMLHttpRequest();
      xhr.open("POST", "/api/1.0/" + $form.attr("name"))
      xhr.setRequestHeader("Accept", "application/json")
      xhr.setRequestHeader("Authorization", "JWT " + getJwtToken())
      xhr.send(formData);
    })
  })
})();
</script>
{% endblock load-last %}

