ul.errorlist {
  list-style: none;
}
ul.errorlist li {
  color: red;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #666;
  color: white;
  border-bottom: solid 1px #555;
  font-size: 16px;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: #bbb;
  text-decoration: underline;
}
header .welcome {
  color: #dd6;
}
section {
  margin: 6px;
}
select, option {
  font-size: 20px;
}
div.card {
  margin: 10px;
  padding: 20px;
  border: solid 1px #ddd;
}
.screen {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(169,169,169,0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}
button.close {
  position: absolute;
  padding: 0 4px;
  background: white;
  color: black;
  border: none;
  font-Size: 16px;
  font-Family: Arial;
  height: 25px;
  top: 6px;
  right: 6px;
  border-Radius: 4px;
  border: solid 1px white;
}
input.link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
.error {
  color: #c00;
}
.upper {
  text-transform: uppercase;
}
.title {
  text-transform: capitalize;
}
.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(96,96,96,0.5);
  z-index: 2000000;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.modal-frame {
  position: relative;
  width: 85%;
  max-width: 400px;
  height: 400px;
  top: 50%;
  padding: 3px;
  text-align: center;
  margin: auto;
  margin-top: -150px;
  border: solid 2px white;
  background: white;
  z-index: 2000001;
  display: flex;
  flex-flow: column;
  border-radius: 8px;
}
.modal-header {
  font-weight: 500;
  font-size: 16px;
}
.modal-content {
  overflow: scroll;
  flex: 1 1 auto;
}
.modal-close-button {
  font-family: sans-serif;
  padding: 0 3px;
  display: block;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: -11px;
  right: -9px;
  z-index: 2000002;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: black;
  border: solid 2px white;
  border-radius: 22px;
}
.strikethrough {
  text-decoration: line-through;
}
